export(annotate_cell_types)
export(annotate_seurat)
export(annotate_with_progress)
export(are_related_terms)
export(batch_annotate)
export(calculate_clade_accuracy)
export(calculate_quality_score)
export(call_llm_api)
export(create_batch_prompt)
export(create_dashboard)
export(create_fallback_ontology)
export(create_annotation_prompt)
export(create_system_prompt)
export(export_annotations)
export(generate_annotation_report)
export(generate_html_report)
export(get_default_ontology_path)
export(get_model_config)
export(load_cell_ontology)
export(map_to_cell_ontology)
export(normalize_cell_type)
export(parse_annotation_response)
export(plot_confidence)
export(plot_confusion_matrix)
export(plot_ontology_coverage)
export(print_annotation_report)
export(process_cell_data)
export(quick_annotate)
export(save_report)
export(seurat_markers_to_list)
export(validate_annotations)
importFrom(stats,sd)
importFrom(utils,head)
importFrom(utils,write.csv)
